---
import "../styles/global.css";

import { Image } from "astro:assets";
import myImage from "/assets/ChairRender.png";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>iam(not)adrian</title>
  </head>

  <body>
    <div id="modal" class="modal hidden">
      <span id="close">×</span>
      <img id="modal-img" />
    </div>
    <header>
      <h1>iam(not)adrian</h1>
    </header>

    <main>
      <section class="intro">
        <p>
          i build apps, care about day-to-day finance, touch grass and
          occasionally dive into
          <abbr title="Computer Aided Design">CAD</abbr>
          and
          <abbr title="Architectural Visualization">ArchViz</abbr>.
        </p>

        <p>
          I am currently building <span class="deactivated">Greenbacks</span>, a
          simple money management app for students.
        </p>

        <p>
          I study business informatics and work as a working student in process
          optimization at <a href="https://www.nafa.de">NAFA</a>.
        </p>
      </section>

      <section class="projects">
        <h2>ArchViz & CAD</h2>
        <div class="grid">
          <div class="project">
            <div class="project-click" data-src={myImage.src}>
              <Image src={myImage} alt="Rendered Chair" class="project-image" />
            </div>
          </div>
        </div>
      </section>
    </main>
  </body>

  <script src="../script/scripts.js"></script>
</html>
